.flex {
  display: flex;
}

.grey {
  color: #F2F2F2;
}

.blue {
  color: #0065FC;
}

.column,
.columns {
  width: 100%;
  float: left;
  box-sizing: border-box;
}


@media (min-width: 768px) and (max-width: 991px) {
  #header-image {
    max-width: 50vw;
  }

  #hebergement {
    flex-direction: column;
    gap: 50px;
  }

  .textFilter {
    margin-right: 5px;
  }

  .filterList {
    flex-wrap: wrap;
    gap: 10px;
  }

  .filter {
    width: 124px;
  }

  .filters {
    margin-left: 0px;
  }

  .populaire-list {
    width: 95%;
  }

  .populaire-list a article {
    width: 100%;
    margin-left: 0px;
  }

  .populaire-list a article img {
    min-width: 85px;
  }

  .hebergement-list {
    width: 95%;
    margin-right: 0px;
  }

  #hebergement .marseille {
    width: calc(100vw - 60px);
  }

  #hebergement section .container, .container_p {
    width: calc(100vw - 90px);
    padding-right: 0px;
  }

  .hebergement-list a article {
    width: auto;
  }

  .container_p {
    height: 280px;
  }

  .container_p a {
    width: 30%;
  }

  .activite-list {
    height: 267px;
    gap: 20px;
  }

  .activite-list .column article {
    max-height: 100%;
    height: 267px;
  }

  .activite-list .column {
    width: 19vw;
  }

  .activite-list .column article h3 {
    vertical-align: middle;
    text-align: center;
    padding: 5%;
  }
}

@media (max-width: 767px) {
  header {
    flex-direction: column;
  }

  header nav ul li {
    border-top: none;
    border-bottom: 2px solid;
    border-color: #F2F2F2;
    margin: 0px;
    width: 50%;
    max-width: 100%;
    margin-left: -60px;
  }

  body {
    padding: 0px;
  }

  main {
    max-width: 100vw;
  }

  #header-image {
    justify-content: center;
  }

  .main-nav {
    justify-content: center;
    text-align: center;
    padding: 0px 0px 20px 20px;
  }

  .search {
    margin: 20px;
  }

  .filterList {
    margin-top: 15px;
    flex-wrap: wrap;
    gap: 15px;
  }

  .filter {
    width: 150px;
  }

  .searchButton .fa-search {
    display: flex;
  }

  .searchBar .searchInput {
    width: 100%;
  }

  .searchButton span {
    display: none;
  }

  .hebergement-list a article {
    width: 90vw;
    margin-left: 0px;
  }

  #hebergement {
    flex-direction: column-reverse;
    gap: 50px;
  }

  #hebergement section .container {
    height: fit-content;
    background-color: white;
  }

  #hebergement .populaire {
    width: 100%;
  }

  .container_p {
    border-radius: 0px;
  }

  #hebergement .marseille {
    height: 1400px;
    width: 100%;
  }

  #hebergement section .container, .container_p {
    width: calc(100vw - 30px);
    padding-right: 0px;
    padding-left: 20px;
    margin: 0px;
  }

  .marseille .hebergement-list {
    flex-direction: column;
  }

  .subtitle {
    display: none;
  }
  
  .populaire-list {
    flex-direction: column;
  }

  .populaire-list a article {
    width: 90vw;
    margin-left: 0px;
  }
  
  #activite {
    margin: 20px;
    margin-top: 100px;
    margin-left: 30px;
  }

  .activite-list {
    flex-direction: column;
    gap: 20px;
  }
  
  .activite-list article {
    height: 190px;
    max-height: 190px;
    width: 86vw;
  }
  
  footer {
    flex-direction: column;
  }
}
