/* include this file if you want to duplicate all classes available
 * the original skeleton boilerplate.
 *
 * Note: if you are creating a new site, this file is not needed 
 * and simpler CSS Grid elements should be used without all the 
 * additional classes on HTML elements. See the Readme for examples.
*/


/* Grid –––––––––––––––––––––––––––––––––––––––––––––––––– */
/* 	Directives to replicate all skeleton.css functionality */
/* .row becomes a grid container with 12 columns */
.container,
.row {
  position: relative;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}

.row {
  padding: 0;
  display: grid;
  grid-template-columns: 1fr;
  gap: 4%;
}

.flex {
  display: flex;
}

.grey {
  color: #F2F2F2;
}

.blue {
  color: #0065FC;
}

.column,
.columns {
  width: 100%;
  float: left;
  box-sizing: border-box;
}

/* For devices larger than 400px */
@media (max-width: 767px) {
  header {
    flex-direction: column;
  }

  header nav ul li {
    border-top: none;
    border-bottom: 2px solid;
    border-color: #F2F2F2;
    margin: 0px;
    width: 50%;
    max-width: 100%;
    margin-left: -60px;
  }

  body {
    padding: 0;
  }

  #header-image {
    justify-content: center;
  }

  .main-nav {
    justify-content: center;
    text-align: center;
    padding: 0px 0px 20px 20px;
  }

  .search {
    margin: 20px;
  }

  .filterList {
    margin-top: 15px;
    flex-wrap: wrap;
    gap: 15px;
  }

  .filter {
    width: 150px;
  }

  .searchButton .fa-search {
    display: flex;
  }

  .searchBar .searchInput {
    width: 400px;
  }

  .searchButton span {
    display: none;
  }

  .hebergement-list a article {
    width: 380px;
    margin-left: 20px;
  }

  #hebergement {
    flex-direction: column-reverse;
    gap: 50px;
  }

  #hebergement section .container {
    height: fit-content;
    background-color: white;
  }

  .container_p {
    border-radius: 0px;
    width: 767px;
  }

  .marseille {
    height: 1400px;
  }

  .marseille .hebergement-list {
    flex-direction: column;
  }

  .subtitle {
    display: none;
  }
  
  .populaire-list {
    flex-direction: column;
  }

  .populaire-list a article {
    width: 50%;
  }
  
  #activite {
    margin: 20px;
    margin-top: 100px;
    margin-left: 50px;
  }

  .activite-list {
    flex-direction: column;
    gap: 20px;
  }
  
  .activite-list article {
    height: 190px;
    max-height: 190px;
    width: 380px;
  }
  
  footer {
    flex-direction: column;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  #header-image {
    max-width: 475px;
  }

  #hebergement {
    flex-direction: column;
    gap: 50px;
  }

  .textFilter {
    margin-right: 5px;
  }

  .filterList {
    flex-wrap: wrap;
    gap: 15px;
  }

  .filters {
    margin-left: 0px;
  }

  .populaire-list a article {
    width: 250px;
    margin-left: 0px;
  }

  .container_p {
    width: 840px;
    height: 280px;
  }

  .container_p a {
    width: 30%;
  }

  .activite-list {
    height: 267px;
  }

  .activite-list article {
    max-height: 100%;
    width: 182px;

  }

  .activite-list .column article h3 {
    vertical-align: middle;
    text-align: center;
    padding: 5%;
  }
}