#header-image {
    padding: 44px 0 0 0;
    height: 19px;
    display: flex;

}

.main-nav {
    font-size: 16px;
    font-weight: 500;
    display: flex;
    justify-content: flex-end;
}

/* search box + filter */

.filters {
    font-weight: 700;
    margin-left: 12px;
    align-items: center;
    flex-wrap: wrap;
    font-weight: 700;
    margin-bottom: 30px;
}

.filterList {
    gap: 40px;
}

.textFilter {
    font-size: 18px;
    font-weight: 700;
    margin-right: 20px;
}

.filter {
    align-items: center;
    height: 46px;
    border: 2px solid #D9D9D9;
    margin-left: 7px;
    padding-right: 20px;
    border-radius: 25px;
    font-size: 17px;
}

.filter:hover {
    cursor: pointer;
    background-color: #DEEBFF;
}

.iconFilter {
    position: relative;
    right: 1px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.iconFilter i {
    margin: auto;
    color: #0065FC;
}

.iconInfo {
    height: 20px;
    width: 20px;
    border: 1px solid #D9D9D9;
    border-radius: 1rem;
    margin-right: 10px;
}

.iconInfo i {
    margin: auto;
    font-size: .9rem;
    color: #0065FC;
}

.searchBar {
    width: auto;
}

.searchBar .containerMarker {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 49px;
    width: 50px;
    font-size: 18px;
    background-color: #F2F2F2;
    border-radius: 15px 0px 0px 15px;
}

.searchBar .searchInput {
    display: inline-block;
    border: 1px solid #F2F2F2;
    height: 49px;
    font-size: 18px;
    color: black;
    font-weight: 700;
}

.searchButton {
    font-size: 18px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 49px;
    left: -10px;
    padding: 16px;
    border-radius: 0px 15px 15px 0px;
    background-color: #0065FC;
    border: none;
    color: white;
    margin-bottom: 32px;
}

.searchButton .fa-search {
    display: none;
}

/* hébergements */

#hebergement {
    margin-top: 39px;
    display: flex;
    justify-content: space-between;
}

#hebergement section h2 {
    margin-top: 0px;
}

#hebergement section .container, .container_p {
    background-color: #F2F2F2;
    padding: 20px 20px 10px 20px;
    border-radius: 20px;
    height: 595px;
    width: 880px;
    box-sizing: content-box;
    gap: 30px;
}

.container_p {
    display: flex;
    width: 380px;
    gap: 33px;
    flex-direction: column;
}


.hebergement-list, .populaire-list {
    flex-wrap: wrap;
    justify-content: space-between;
}

.hebergement-list a {
    width: 30%;
    margin-bottom: 50px;
}

.hebergement-list a article, .populaire-list a article {
    background-color: white;
    border-radius: 20px;
    height: 199px;
    width: 246px;
    box-shadow: 5px 5px 5px 0px #E2E2E2;
}

.populaire-list a article {
    display: flex;
    height: 144px;
    max-height: 100%;
}

.hebergement-list a article .fa-star.blue {
    color: #0065FC;
}

.hebergement-list a article .fa-star.grey {
    color: #F2F2F2;
}

.hebergement-list a article img {
    width: 100%;
    height: 124px;
    border-radius: 20px 20px 0px 0px;
    border: 5px solid #FFFFFF;
    object-fit: cover;
}

.hebergement-list a, .populaire-list a {
    color: black;
    margin: 0px;
    margin-bottom: 30px;
    text-decoration: none;
}

.hebergement-list a article .article-content {
    padding: 0px 0px 0px 10px;
}

.hebergement-list a article .article-content h3 {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 16px;
}

.hebergement-list a article .article-content p, .populaire-list h3, .populaire-list p  {
    padding-top: 0px;
    margin-top: 4px;
    margin-bottom: 4px;
    font-size: 14px;
}


.populaire-list a article img {
    width: 127px;
    min-width: 127px;
    height: 134px;
    border-radius: 20px 0px 0px 20px;
    border: 5px solid #FFFFFF;
    object-fit: cover;
}

#hebergement .marseille {
    width: 880px;
}

#hebergement .marseille .subtitle {
    font-weight: bold;
    font-size: 120%;
}


#hebergement .populaire .chart-icone {
    position: absolute;
    top: 40px;
    right: 40px;
}

#hebergement .populaire {
    width: 420px;
    position: relative;
}

#hebergement .populaire .hebergement-list {
    flex-direction: column;
}

#hebergement .populaire .hebergement-list a {
    width: 100%;
}

#hebergement .populaire .hebergement-list a article {
    display: flex;
    flex-direction: row;
}

#hebergement .populaire .hebergement-list a article img {
    border-radius: 20px 0px 0px 20px;
    width: 137px;
}

#hebergement .populaire .hebergement-list a article .article-content {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

/* activités */


#activite {
    margin-top: 60px;
}

.activite-list {
    display: flex;
    justify-content: space-between;
}

.activite-list .column {
    width: 23%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 25px;
}

.activite-list .column article img {
    width: 100%;
    height: calc(100% - 67px);
    object-fit: cover;
    border-radius: 25px 25px 0px 0px;
}

.activite-list .column article {
    height: 445px;
    box-shadow: 0px 0px 10px 0px #E0E0E0;
    border-radius: 25px;
}

.activite-list .column article h3 {
    padding: 21px;
    margin: 0px;
}
